*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
height:100vh;
background:#f5f5f5;
display:flex;
justify-content:center;
align-items:center;
}

.login-container{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}

.login-card{

width:360px;
background:white;
padding:40px;
border-radius:10px;

box-shadow:0 10px 25px rgba(0,0,0,0.08);

text-align:center;

}

.logo img{
width:40px;
margin-bottom:5px;
}

.logo h2{
font-size:18px;
}

.logo span{
font-size:12px;
color:#777;
}

h3{
margin-top:20px;
margin-bottom:5px;
}

.subtitle{
font-size:13px;
color:#777;
margin-bottom:20px;
}

form{
display:flex;
flex-direction:column;
gap:12px;
}

input{

padding:12px;
border-radius:6px;
border:1px solid #ddd;
font-size:14px;

}

input:focus{
outline:none;
border-color:#22c55e;
}

.options{
display:flex;
justify-content:space-between;
font-size:12px;
color:#777;
}

.options a{
text-decoration:none;
color:#777;
}

button{

background:#22c55e;
border:none;
padding:12px;
border-radius:6px;

color:white;
font-size:14px;

cursor:pointer;

transition:0.3s;

}

button:hover{
background:#16a34a;
}