body{
font-family:Arial, Helvetica, sans-serif;
margin:0;
background:#f5f6fa;
}

.container{
display:flex;
height:100vh;
}

/* SIDEBAR */

.sidebar{
width:230px;
background:#4b2ea7;
color:white;
padding:20px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
padding:12px;
border-radius:6px;
}

.sidebar a{
color:white;
text-decoration:none;
}

.sidebar li:hover{
background:rgba(255,255,255,0.2);
}

.active{
background:rgba(255,255,255,0.3);
}

/* CONTENIDO */

.main-content{
flex:1;
padding:20px;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.topbar input{
padding:8px;
border:1px solid #ddd;
border-radius:6px;
margin-right:10px;
}

/* TABLA */

table{
width:100%;
border-collapse:collapse;
background:white;
border-radius:10px;
overflow:hidden;
}

th,td{
padding:12px;
text-align:left;
border-bottom:1px solid #eee;
}

th{
background:#f1f1f1;
}

/* BOTONES */

button{
background:#5b3cc4;
color:white;
border:none;
padding:6px 10px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#3f2aa0;
}